* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke;
  display:grid;
}

/*Heading and title elements here*/
header {
 display: flex;
background-color: blueviolet;
margin-bottom: 0px; 
margin-top: -20px;
padding: -30px;
border-bottom-style: dashed;

}


h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  padding: 10px;
  margin-right: 30px;
  background-color:rgb(75, 74, 73);
}

.page-links {

  font-family: Arial, Helvetica, sans-serif;
  color:white;
  font-size: 16pt;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  padding: 15px;
  margin-top: 65px;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: flex-end;
}
  
#hero-banner {

  background-image: url(../images/02-hero-bg-cropped.jpg);
  background-size: 100%;
  padding:100px;
  border-bottom-style:dotted;
 
}

h2 {
  display:block;
  width:230px;
  height: 90px;
  margin-top: 100px;
  background-color: blueviolet;
  font-size: 42pt;
  margin-left: 1000px;
  
}

/*main page grid elements*/

#about {
  width:90%;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  }

.about-me {
 font-size: 36pt;
 margin-left: 100px;
 }


.about-text {

  margin-left:50px;
  padding:20px;
  font-size: 12pt;
}

/* Work Section and image/link grid*/




.work-title {
   
display: inline-block;  
font-size: 36pt;
 margin-left: 100px;
 justify-content: flex-start;
 }

.grid-container {

  display: grid;
  width: 750px;
  height: 600px;
  grid-template-columns: auto,auto;
  grid-template-rows: auto, auto, auto;
}


#grid-item {
  display: block;
  width: 40%;
  

}


img {
  border: 4px solid rgb(156, 156, 240);


}

.card-info {
  display:block;
  width:180px;
  height:60px;
  position:relative;
  margin-top:-80px;
  background-color:rgb(156, 156, 240) ;



  
}
/* contact section*/

#contact {

  width:90%;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content:space-between;

}

.contact-me {
  font-size: 36pt;
  margin-left: 100px;
}

.contact-links {
  
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(40, 36, 36);
  font-size: 18pt;
  padding: 10px;
  margin-right: 30px;

}